html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: rgb(55, 55, 55);
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  height: 64px;
}
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 32px;
  line-height: 1.5;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}
h4 {
  margin-bottom: 20px;
}
p{
  line-height: 1.5;
}
button {
  background: rgb(55, 55, 55);
  width: 100%;
  padding: 12px 0;
  color: white;
  font-size: 16px;
}
.desktop {
  display: none;
}
.mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}
.navigation {
  align-items: center;
}
.course-info{
  height: 45%;
  padding-bottom: 24px;
}
nav li {
  list-style: none;
  display: flex;
  padding: 8px;
}
nav li a {
  color: black;
}
img, video {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    margin-left: 24px;
    padding-left: 0;
    width: 100%;
  }
  .logo {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .logo a {
    display: flex;
    align-items: center;
  }
  .logo span {
    font-weight: bold;
  }
  nav li:nth-child(n 1) {
    margin-right: 16px;
  }
  nav li:last-child {
    margin-right: 24px;
  }
}

.practice {
  display: none;
}
.banner {
  width: 100%;
  height: 180px;
  background: url('../images/banner.jpg');
  background-size: cover;
}
.banner img {
  display: none;
}
.start-here {
  padding: 32px 24px;
}
.start-here h3{
  padding-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .learn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: lightgrey;
  }
  .banner {
    background: none;
    height: auto;
    width: 60%;
    padding: 32px 24px;
  }
  .banner img {
    display: flex;
  }
  .start-here {
    max-width: 423px;
  }
  .start-here h1 {
    font-size: 4vw;
  }
  .information {
    padding: 32px 24px;
  }
  .information-text {
    padding: 8px 16px;
  }
  .information-text h3, .information-text p {
    margin-bottom: 8px;
  }
  .info-thumb {
    height: 150px;
    overflow: hidden;
  }
  .information {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .practice {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
  }
  .practice img {
    min-height: 350px;
  }
  .practice h2 {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .info-thumb {
    height: auto;
  }
  .info-thumb img{
    max-height: auto;
    max-width: auto;
  }
  .guest-lectures{
    background-color: lightgrey;
  }
  .orientation, .campus, .guest-lectures {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    max-width: 423px;
  }
  .orientation img, .campus img, .guest-lectures img {
    width: 35%;
  }
  .information-features div:first-child {
    margin-top: 16px;
  }
  .information div:nth-child(n 2) {
    border-top: none;
  }
  .information-features {
    padding-bottom: 32px;
  }
  footer {
    margin-top: 32px;
  }
  #orientation-image-mobile, #campus-image-mobile, #guest-lectures-image-mobile{
    display: none;
  }
}
  .featured-courses p{
    color: rgb(90, 90, 90);
  }
  .featured-courses {
    padding: 24px 40px 24px 72px;
  }
  .featured-courses img, .featured-courses .course-info p {
    display: none;
  }
  .course-info > h3 {
    padding: 16px;
    background: lightgrey;
  }
@media only screen and (min-width: 600px) {
    .featured-courses {
      background: lightgrey;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .featured-courses img, .featured-courses .course-info p {
      display: flex;
    }
    .featured-courses img {
      height: 154px;
    }
    .course-info h3, .course-info {
      background: white;
    }
    .course-info p {
      padding: 0 16px 8px;
    }
    .course-info p:last-child {
      padding: 0 16px 24px;
    }
    .course-card {
      width: 350px;
      margin-right: 32px;
      margin-bottom: 24px;
      background-color: lightgrey;
    }
    .course-info {
      min-height: 154px;
    }
    .button {
      background: lightgrey;
    }
  }
  .recent-exhibits, .exhibit-vid h3, .exhibit-vid p {
    display: none;
  }
  .exhibition-featured h2 {
    padding: 32px 0;
  }
  .featured-courses h2, .exhibition-featured h2 {
    text-align: center;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
  }
@media only screen and (min-width: 768px) {
  .recent-exhibits {
    display: block;
    width: 40%;
  }
    .exhibition-container {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    margin-bottom: 32px;
  }
  .exhibit-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    max-width: 423px;
    height: 168px;
  }
  .exhibit-card img {
    width: 35%;
    margin-right: 16px;
  }
  .exhibit-info {
    display: flex;
    flex-direction: column;
    width: 65%;
  }
  .exhibit-info h3{
    padding-bottom: 24px;
  }
  .exhibit-card:first-child {
    background: lightgrey;
  }
  .exhibit-vid {
    margin-right: 24px;
    width: 60%;
  }
  .exhibit-vid h3, .exhibit-vid p {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
  .courses p{
    padding: 8px;
  }
}
footer > nav {
  display: none;
}
footer {
  padding: 32px 0;
}
.copyright {
  margin-left: 24px;
  padding-top: 16px;
}
@media only screen and (max-width: 768px){
  button{
    background-color: darkgrey;
  }
  #orientation-image, #campus-image, #guest-lectures-image, .footer-nav{
    display: none;
  }
  .information-features{
    padding: 16px 16px 32px 16px;
  }
  .information-features h3, p{
    margin-left: 16px;
    padding: 8px;
  }
  .information-features img{
    padding: 32px 0px;
  }
}
@media only screen and (min-width: 400px) {
  .learn{
    background-color: lightgrey;
  }
  footer {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer > nav {
    display: flex;
    }
  footer > nav ul {
    display: flex;
    flex-direction: row;
  }
footer > nav ul li:first-child {
   margin-right: 16px;
  }
 }
